.download_page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.download_container {
  max-width: 1200px;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.titles {
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: "Abril Fatface";
  font-weight: bold;
}
